{% extends 'base.html' %}

{% block title %}与{{ room_name }}通话中{% endblock %}

{% block head %}
    {% include 'bar.html' %}
    {% include 'head.html' %}


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'group_members/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'group_members/css/demo.css' %}">
    <link href="{% static 'group_members/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'group_members/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'chat_app/css/reset.min.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'error/css/myAlert.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'chat_app/css/emoji.css' %}" rel="stylesheet">
{% endblock %}



{% block body %}
    <p id="web" style="display: none">{{ websocket_id }}</p>
    <div class="room_wrapper">
        <div class="room_container">
            <div class="right">
                <div class="top">
                    <span style="flex: 1;"><span class="name" id="seller">{{ room_name }}</span></span>
                </div>
                <div class="chat" data-chat="person1">
                    <div class="chat_box" id="chat_box">
                        <div class="conversation-start">
                            <span id="now_time"></span>
                        </div>
                    </div>
                </div>

                <div class="write">
                    {#                <a class="write-link smiley" id="smiley"></a>#}
                    <input class="write_input" id="chat-message-input" type="text" data-emojiable="true"/>
                    <a id="chat-message-submit" class="write-link send"></a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'chat_app/js/chat_room.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat_app/js/websocket.js' %}"></script>
    <script type="text/javascript" src="{% static 'error/js/myAlert.js' %}"></script>

    <script src='{% static 'group_members/js/velocity.min.js' %}'></script>
    <script src='{% static 'group_members/js/sideToggleExtended.js' %}'></script>

    <script src="{% static 'chat_app/js/config.js' %}"></script>
    <script src="{% static 'chat_app/js/util.js' %}"></script>
    <script src="{% static 'chat_app/js/jquery.emojiarea.js' %}"></script>
    <script src="{% static 'chat_app/js/emoji-picker.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            let t = new Date();
            let year = t.getFullYear();
            let month = t.getMonth() + 1;
            let day = t.getDate();
            let week = t.getDay();
            let arr = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
            let hour = t.getHours();
            let minute = t.getMinutes();

            document.getElementById("now_time").innerHTML = year + "/" + month + "/" + day + " " + arr[week] + " " + hour +
                ((minute < 10) ? ":0" : ":") + minute;
        });
    </script>

    <script>
        $(function () {
            // Initializes and creates emoji set from sprite sheet
            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                assetsPath: '/static/chat_app/img/emoji',
                popupButtonClasses: 'fa fa-smile-o'
            });
            // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
            // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
            // It can be called as many times as necessary; previously converted input fields will not be converted again
            window.emojiPicker.discover();
        });
    </script>

{#    {% include 'footer.html' %}#}
{% endblock %}