<!---start-header---->
<div class="header">
    <div class="top-header">
        <div class="wrap">
            <div class="top-header-left">
                <ul>
                    <!---cart-tonggle-script---->
                    <script type="text/javascript">
                        $(function () {
                            var $cart = $('#cart');
                            $('#clickme').click(function (e) {
                                e.stopPropagation();
                                if ($cart.is(":hidden")) {
                                    $cart.slideDown("slow");
                                } else {
                                    $cart.slideUp("slow");
                                }
                            });
                            $(document.body).click(function () {
                                if ($cart.not(":hidden")) {
                                    $cart.slideUp("slow");
                                }
                            });
                        });
                    </script>
                    <!---//cart-tonggle-script---->
                    <li><a class="cart" href="#"><span id="clickme"> </span></a></li>
                    <!---start-cart-bag---->
                    <div id="cart">Your Cart is Empty <span>(0)</span></div>
                    <!---start-cart-bag---->
                    <li><a class="info" href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="top-header-center">
                <div class="top-header-center-alert-left">
                    <h3>FREE DELIVERY</h3>
                </div>
                <div class="top-header-center-alert-right">
                    <div class="vticker">
                        <ul>
                            <li>Applies to orders of $50 or more. <label>Returns are always free.</label></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="top-header-right">
                <ul>
                    {% if is_buyer or is_seller %}
                        {% if is_buyer.isActive == True %}
                            <li><a href="#">{{ is_buyer.buyer_id.username }}</a><span> </span></li>
                            <li><a href="#">切换为卖家</a><span> </span></li>
                        {% else %}
                            <li><a href="#">{{ is_seller.seller_id.username }}</a><span> </span></li>
                            <li><a href="#">切换为买家</a><span> </span></li>
                        {% endif %}
                        <li><a href="#">消息</a><span> </span></li>
                        <li><a href="#">注销</a></li>
                    {% else %}
                        <li><a href="/login">登录</a><span> </span></li>
                        <li><a href="/registration">注册</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!----start-mid-head---->
    <div class="mid-header">
        <div class="wrap top1">
            <div class="mid-grid-left">
                <form>
                    <input type="text" placeholder="搜索"/>
                </form>
            </div>
            <div class="mid-grid-right">
                <a class="logo" href="index.html"><span> </span></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!----//End-mid-head---->
    <!----start-bottom-header---->
    <div class="header-bottom">
        <div class="wrap">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="grid"><a class="color2" href="#">数码</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>手机</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>网络设备</h4>
                                    <ul>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>电子零件</h4>
                                    <ul>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1 men">
                                <div class="men-pic">
                                    <img src="/static/images/men.png" title=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="color5" href="#">居家</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>服装/配饰</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>家纺布艺</h4>
                                    <ul>
                                        <li><a href="products.html">login</a></li>
                                        <li><a href="products.html">create an account</a></li>
                                        <li><a href="products.html">create wishlist</a></li>
                                        <li><a href="products.html">my shopping bag</a></li>
                                        <li><a href="products.html">brands</a></li>
                                        <li><a href="products.html">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>珠宝首饰</h4>
                                    <ul>
                                        <li><a href="products.html">login</a></li>
                                        <li><a href="products.html">create an account</a></li>
                                        <li><a href="products.html">create wishlist</a></li>
                                        <li><a href="products.html">my shopping bag</a></li>
                                        <li><a href="products.html">brands</a></li>
                                        <li><a href="products.html">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1 kids">
                                <div class="kids-pic">
                                    <img src="/static/images/kids1.png" title=""/>
                                </div>
                            </div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color6" href="#">娱乐</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>动漫/周边</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>游戏</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>运动户外</h4>
                                    <ul>
                                        <li><a href="products.html">trends</a></li>
                                        <li><a href="products.html">sale</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>票务娱乐</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>玩具</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1 sports">
                                <div class="sports-pic">
                                    <img src="/static/images/sport.png" title=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li class="active grid"><a class="color4" href="#">办公</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>办公用品</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>图书</h4>
                                    <ul>
                                        <li><a href="products.html">trends</a></li>
                                        <li><a href="products.html">sale</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col1 women">
                                <div class="women-pic">
                                    <img src="/static/images/women.png" title=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color7" href="#">耗材</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>家装建材</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>农用物资</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>五金工具</h4>
                                    <ul>
                                        <li><a href="products.html">trends</a></li>
                                        <li><a href="products.html">sale</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1 nike">
                                <div class="nike-pic">
                                    <img src="/static/images/nike.png" title=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color8" href="#">其它</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>车辆</h4>
                                    <ul>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">women</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>园艺植物</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>宠物用品</h4>
                                    <ul>
                                        <li><a href="products.html">new arrivals</a></li>
                                        <li><a href="products.html">men</a></li>
                                        <li><a href="products.html">kids</a></li>
                                        <li><a href="products.html">accessories</a></li>
                                        <li><a href="products.html">login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
<!----//End-bottom-header---->
<!---//End-header---->