<link href="{% static 'css/hi/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">

<div class="displayMessage dropdown-menu dropdown-content width-350" id="displayMe" style="display: none">
    <div class="dropdown-content-heading" style="font-size: 14px;">
        消息列表
    </div>

    <ul class="media-list dropdown-content-body">
        <li class="media">
            <div class="media-left">
                <img src="/static/images/head/placeholder.jpg" class="img-circle img-sm" alt="">
                <span class="badge bg-danger-400 media-badge">5</span>
            </div>

            <div class="media-body">
                <a href="#" class="media-heading">
                    <span class="text-semibold messageNmae">James Alexander</span>
                    <span class="media-annotation pull-right">04:58</span>
                </a>

                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
            </div>
        </li>

    </ul>

</div>