{% extends 'base.html' %}

{% block title %}编辑个人信息{% endblock %}
{% block head %}{% include 'head.html' %}{% endblock %}

{% block body %}
    {% include 'bar.html' %}
    <!---start-wrap---->
    <!--- start-content---->
    <div class="content login-box">
        <div class="login-main">
            <div class="wrap loginWp">
                <h1>我的信息</h1>
                <div class="register-grids">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="register-top-grid">
                            <h3>买家信息</h3>
                            <div>
                                <span>用户名(登录用账号)<label>*</label></span>
                                <input type="text" name="username" id="username" 
                                       value="{{ is_buyer.buyer_id.username }}" required readonly/>
                            </div>
                            <div>
                                <span>邮箱地址<label>*</label></span>
                                <input type="email" name="email" id="email" 
                                       value="{{ is_buyer.buyer_id.email }}" required readonly/>
                            </div>
                            <div>
                                <span>联系电话</span>
                                <input type="text" name="phone" id="phone" 
                                       value="{{ is_buyer.buyer_id.phone }}"/>
                            </div>
                            <div>
                                <span>性别<label>*</label></span>
                                <select id="gender" name="gender" required>
                                    <option value="{{ is_buyer.buyer_id.sex }}" disabled selected style="display: none">选择您的性别</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                            <div>
                                <span>银行卡号</span>
                                <input type="text" name="cardNum" id="cardNum" 
                                value="{{ is_buyer.cardNum }}">
                            </div>
                            <div>
                                <span>昵称</span>
                                <input type="text" name="nickName" id="nickName" 
                                value="{{ is_buyer.nickName }}"/>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="register-bottom-grid">
                            <h3>卖家信息</h3>
                            <div>
                                <span>商店名称<label>*</label></span>
                                <input type="text" id="shopname" name="shopname" 
                                value="{{ is_seller.shopName }}"/>
                            </div>
                            <div>
                                <span>商店描述<label>*</label></span>
                                <input type="text" id="desc" name="desc" 
                                value="{{ is_seller.desc }}"/>
                            </div>
                            <div class="clear"></div>
                            <div>
                                <span id="errorMsg">{{ errorMsg }}</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <input type="submit" value="确认修改"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--- //End-content---->
    <!---//End-wrap---->
    {% include 'footer.html' %}
{% endblock %}


