<!-- Global stylesheets -->
<link href="{% static 'css/hi/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/hi/minified/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/hi/minified/core.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/hi/minified/components.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/hi/minified/colors.min.css' %}" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script type="text/javascript" src="{% static 'js/hi/plugins/loaders/pace.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hi/core/libraries/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hi/core/libraries/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hi/plugins/loaders/blockui.min.js' %}"></script>
<!-- /core JS files -->

<script type="text/javascript" src="{% static 'js/displayMessage.js' %}"></script>
<link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css'/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
}, false);

function hideURLbar() {
    window.scrollTo(0, 1);
} </script>
<!----//webfonts---->
<!----start-alert-scroller---->
<script src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.easy-ticker.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#demo').hide();
        $('.vticker').easyTicker();
    });
</script>
<!----start-alert-scroller---->
<!-- start menu -->
<link href="{% static "css/megamenu.css" %}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="{% static "js/megamenu.js" %}"></script>
<script>$(document).ready(function () {
    $(".megamenu").megamenu();
});</script>
<script src="{% static "js/menu_jquery.js" %}"></script>
<!-- //End menu -->
<!---move-top-top---->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
        });
    });
</script>
<!---//move-top-top---->