{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}
{% block head %}{% include 'head.html' %}{% endblock %}

{% block body %}
    {% include 'bar.html' %}
    <!---start-wrap---->
    <!--- start-content---->
    <div class="content login-box">
        <div class="login-main">
            <div class="wrap loginWp">
                <h1>修改密码</h1>
                <div class="register-grids">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="register-bottom-grid">
                            <h3>修改当前密码</h3>
                            <div>
                                <span>原密码<label>*</label></span>
                                <input type="password" id="password" name="password"
                                placeholder="请输入原密码" required/>
                            </div>
                            <div>
                                <span>新密码<label>*</label></span>
                                <input type="password" id="newpassword" name="newpassword"
                                placeholder="请输入新密码" required/>
                            </div>
                            <div>
                                <span>确认新密码<label>*</label></span>
                                <input type="password" id="repassword" name="repassword"
                                placeholder="请再次输入密码" required/>
                            </div>
                            <div class="clear"></div>
                            <div>
                                <span id="errorMsg">{{ errorMsg }}</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <input type="submit" value="确认修改"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--- //End-content---->
    <!---//End-wrap---->
    {% include 'footer.html' %}
{% endblock %}


