{% extends 'base.html' %}

{% block title %}卖家首页{% endblock %}
{% block head %}
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_commodity.css' %}">
    <script src="{% static 'js/upload_commodity.js' %}"></script>
{% endblock %}

{% block body %}
    {% include 'bar.html' %}
    <!---start-wrap---->
    <!--- start-content---->
    <div class="wrap" style="margin-left: 20%">
        <div class="price-rage">
            <h3 style="font-size: 1.25em">发布新的商品</h3>
            <a class="acount-btn" onclick="display_add_info()">发布新商品</a>
        </div>
    </div>
    <div class="wrap" style="margin-left: 20%">
        <div class="price-rage">
            <h3 style="font-size: 1.25em">我发布的商品</h3>
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            <div class="content-right" style="float: left;margin-left: 5%">
                <div class="product-grids">
                    <!--- start-rate---->
                    <script src="{% static "js/jstarbox.js" %}"></script>
                    <link rel="stylesheet" href="{% static "css/jstarbox.css" %}" type="text/css" media="screen"
                          charset="utf-8"/>
                    <script type="text/javascript">
                        jQuery(function () {
                            jQuery('.starbox').each(function () {
                                var starbox = jQuery(this);
                                starbox.starbox({
                                    average: starbox.attr('data-start-value'),
                                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                    ghosting: starbox.hasClass('ghosting'),
                                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                    stars: starbox.attr('data-star-count') || 5
                                }).bind('starbox-value-changed', function (event, value) {
                                    if (starbox.hasClass('random')) {
                                        var val = Math.random();
                                        starbox.next().text(' ' + val);
                                        return val;
                                    }
                                })
                            });
                        });
                    </script>
                    <!---//End-rate---->
                    <!---caption-script---->
                    <!---//caption-script---->
                    {% for com in my_commodity %}
                        <form action="/details/" method="post" id="testForm{{ com.commodity_id }}">
                            {% csrf_token %}
                            <input type="hidden" name="commodity_id" value="{{ com.commodity_id }}">
                            <div onClick="testForm{{ com.commodity_id }}.submit()" class="product-grid fade">
                                <div class="product-grid-head">
                                    <ul class="grid-social">
                                        <li><a class="facebook" href="#"><span> </span></a></li>
                                        <li><a class="twitter" href="#"><span> </span></a></li>
                                        <li><a class="googlep" href="#"><span> </span></a></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="block">
                                        <div class="starbox small ghosting"></div>
                                        <span> (46)</span>
                                    </div>
                                </div>
                                <div class="product-pic">
                                    <div class="product-block">
                                        <a href="#"><img src="{{ com.pic.url }}" width="158" height="100"
                                                         title="product-name"/></a>
                                    </div>
                                    <p style="font-size: 1.5em">
                                        <a href="#">
                                            {{ com.name }}
                                        </a>
                                        <span>{{ com.desc }}</span>
                                    </p>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-cust">
                                        <a href="#">Details</a>
                                    </div>
                                    <div class="product-info-price">
                                        <a href="#">{{ com.price }} 元</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="more-product-info">
                                    <span> </span>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="wrap" style="margin-left: 20%">
        <div class="price-rage">
            <h3 style="font-size: 1.25em">我处理的订单</h3>
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            <div class="content-right" style="float: left;margin-left: 5%">
                <div class="product-grids">
                    <!--- start-rate---->
                    <script src="{% static "js/jstarbox.js" %}"></script>
                    <link rel="stylesheet" href="{% static "css/jstarbox.css" %}" type="text/css" media="screen"
                          charset="utf-8"/>
                    <script type="text/javascript">
                        jQuery(function () {
                            jQuery('.starbox').each(function () {
                                var starbox = jQuery(this);
                                starbox.starbox({
                                    average: starbox.attr('data-start-value'),
                                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                    ghosting: starbox.hasClass('ghosting'),
                                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                    stars: starbox.attr('data-star-count') || 5
                                }).bind('starbox-value-changed', function (event, value) {
                                    if (starbox.hasClass('random')) {
                                        var val = Math.random();
                                        starbox.next().text(' ' + val);
                                        return val;
                                    }
                                })
                            });
                        });
                    </script>
                    <!---//End-rate---->
                    <!---caption-script---->
                    <!---//caption-script---->
                    {% for order in my_order %}
                        <form action="/details/" method="post" id="testForm{{ order.order_id }}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.order_id }}">
                            <div onClick="testForm{{ order.order_id }}.submit()" class="product-grid fade">
                                <div class="product-grid-head">
                                    <ul class="grid-social">
                                        <li><a class="facebook" href="#"><span> </span></a></li>
                                        <li><a class="twitter" href="#"><span> </span></a></li>
                                        <li><a class="googlep" href="#"><span> </span></a></li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="block">
                                        <div class="starbox small ghosting"></div>
                                        <span> (46)</span>
                                    </div>
                                </div>
                                <div class="product-pic">
                                    <div class="product-block">
                                        <a href="#"><img src="{{ order.commodity_id.pic.url }}"
                                                         title="product-name"/></a>
                                    </div>
                                    >
                                    <p style="font-size: 1.5em">
                                        <a href="#">
                                            {{ order.commodity_id.name }}
                                        </a>
                                        <span>{{ order.status }}</span>
                                    </p>
                                </div>
                                <div class="product-info">
                                    <div class="product-info-cust">
                                        <a href="#">Details</a>
                                    </div>
                                    <div class="product-info-price">
                                        <a href="#">{{ order.commodity_id.price }} 元</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="more-product-info">
                                    <span> </span>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--- //End-content---->
    <!---//End-wrap---->

    <div id="light" class="white_content" style="top: 15%; width: auto; height: auto;">发布新商品
        <a style="float: right;" href="javascript:void(0)"
           onclick="document.getElementById('light').style.display='none';
               document.getElementById('fade').style.display='none'">关闭</a>
        <div>
            <div class="wrapper1" style="width: auto;">
                <div class="infoBox" style="height: 100%;">
                    <div class="infoBoxCenter">
                        <form action="/upload/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="editinfo" style="display: none">
                                <p><label>商品名：</label>
                                    <input name='commodity_name' id='commodity_name' type="text" class="infoLabel"
                                           required="required"
                                           autocomplete="off" placeholder=""/>
                                </p>
                                <p><label>商品类别：</label>
                                    <select id="type" name="type" class="infoLabel" required>
                                        <option value="" disabled selected style="display: none">选择商品的类别</option>
                                        <option value="手机">手机</option>
                                        <option value="农用物资">农用物资</option>
                                        <option value="生鲜水果">生鲜水果</option>
                                        <option value="园艺植物">园艺植物</option>
                                        <option value="五金工具">五金工具</option>
                                        <option value="电子零件">电子零件</option>
                                        <option value="动漫/周边">动漫/周边</option>
                                        <option value="宠物用品">宠物用品</option>
                                        <option value="网络设备">网络设备</option>
                                        <option value="服饰/配饰">服饰/配饰</option>
                                        <option value="家装建材">家装建材</option>
                                        <option value="家纺布艺">家纺布艺</option>
                                        <option value="珠宝首饰">珠宝首饰</option>
                                        <option value="游戏">游戏</option>
                                        <option value="办公用品">办公用品</option>
                                        <option value="图书">图书</option>
                                        <option value="运动户外">运动户外</option>
                                        <option value="票务娱乐">票务娱乐</option>
                                        <option value="玩具">玩具</option>
                                        <option value="车辆">车辆</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </p>
                                <p><label>价格：</label>
                                    <input name='price' id='price' type="number" class="infoLabel" required="required"
                                           autocomplete="off" placeholder=""/>
                                </p>
                                <p><label>数量：</label>
                                    <input name="num" id='num' type="number" class="infoLabel"
                                           required="required" autocomplete="off" placeholder=""/>
                                </p>
                                <p><label>描述：</label>
                                    <input name="desc" id='desc' type="text" class="infoLabel"
                                           autocomplete="off" placeholder=""/>
                                </p>
                                <p><label>上传图片：</label>
                                    <input name="pic" id='pic' type="file" class="infoLabel" style="display: initial"
                                           autocomplete="off" accept="image/jpeg, image/png, image.jpg" placeholder=""/>
                                </p>
                            </div>
                            <p class="btn_group">
                                <input class="btn btn-primary" onclick="upload()" style="margin-right: 10px;"
                                       type="submit" value="确定">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    {% include 'footer.html' %}
{% endblock %}



